.map{
  width: 1177px;
  height: 1111px;
  margin: 38px auto 0;
  position: relative;
    &-offices{
      position: absolute;
      top: 73%;
      left: 80%;
        &-list{
          margin-top: 16px;
            li{
              margin-bottom: 4px;
              position: relative;
              transition: color .4s ease, padding-left .4s ease;
              cursor: pointer;
              white-space: nowrap;
                &:before{
                  content: '';
                  position: absolute;
                  width: 7px;
                  height: 7px;
                  border-radius: 50%;
                  background-color: $blue;
                  top: 7px;
                  left: 0;
                  opacity: 0;
                  transform: translateX(-5px);
                  transition: opacity .4s ease, transform .4s ease;
                  pointer-events: none;
                }
                p{
                  font-size: 14px;
                  max-width: 192px;
                  white-space: normal;
                  display: none;
                  margin-top: 10px;
                    &:last-child{
                      margin-bottom: 15px;
                    }
                    @include d(480){
                      font-size: 12px;
                    }
                }
                &.active,
                &:hover{
                  color: $blue;
                  padding-left: 15px;
                    &:before{
                      opacity: 1;
                      transform: translate(0);
                    }
                    p{
                      display: block;
                    }
                }
            }
        }
        &-btn{
          @include d(480){
            font-size: 12px;
          }
        }
        @include d(991){
          left: 75%;
        }
        @include d(767){
          left: 70%;
        }
        @include d(480){
          left: 60%;
        }
    }
    @include d(1600){
      width: 1120px;
      height: 1062px;
    }
    @include d(1440){
      width: 1000px;
      height: 950px;
    }
    @include d(1300){
      width: 920px;
      height: 870px;
    }
    @include d(1200){
      width: 760px;
      height: 740px;
    }
    @include d(991){
      width: 100%;
      height: auto;
    }
    @include d(767){
      width: 100vw;
      height: auto;
      margin: 0 -50px;
    }
    @include d(575){
      margin: 0 -20px;
    }
}

.country{
  fill: transparent;
  stroke: $white;
  stroke-width: 3px;
  transition: all .4s ease;
    &-title{
      pointer-events: none;
        path{
          fill: $white
        }
    }
    &.place{
      fill: rgba(255,255,255,.25);
      cursor: pointer;
        //&:hover{
        //  fill: $blue;
        //}
    }
    &.active{
      fill: $blue;
    }
}