.projects{
  padding: 69px 0;
    &-carousel{
      min-height: 690px;
        &-slide{
          overflow: hidden;
          position: relative;
            &:focus{
              outline: none;
            }
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
            .project{
                &-preview{
                  height: 597px;
                }
                &-description{
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  overflow: hidden;
                }
            }
        }
    }
}